/* Common CSS Sytles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --PrimaryColor: #3a3a3a;
  --font: Poppins;
}

header,
main {
  width: 80%;
  margin: 0 auto;
  /* background-color: #f0f0f0; */
  box-sizing: border-box;
}
.nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 85px 60px 0px;
}
.nav-Container ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.nav-Container ul li {
  list-style: none;
}
.nav-Container ul li a {
  text-decoration: none;
  font-family: var(--font);
  color: var(--PrimaryColor);
  font-size: 24px;
  font-weight: 700;
}
.navH3 {
  font-family: var(--font);
  color: var(--PrimaryColor);
  font-size: 24px;
  font-weight: 700;
}
#navIcon1 img {
  width: 80%;
  position: relative;
  top: 3px;
}
#navIcon2 img {
  width: 75%;
  position: relative;
  top: 2px;
}
/* banar items started */
.banar-Container {
  display: flex;
  padding-left: 60px;
}
.banarText {
  padding-top: 140px;
}
.banarText h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: var(--font);
  color: var(--PrimaryColor);
  padding-bottom: 15px;
}
.banarText p {
  font-family: var(--font);
  color: var(--PrimaryColor);
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}
.banarText button {
  color: white;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 700;
  background: #ff0464;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
.banarText button span{
  padding: 5px;
  position: relative;
  top: 5px;
}
.banarimg {
  padding-top: 50px;
  background-image: url('./influencer-gear/images/Circle\ design.svg');
  width: 90%;
  background-repeat: no-repeat;
}
.banarimg img {
  width: 80%;
}
.sponsorsContainer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #f0f0f0;
  margin: 20px 120px;
}

.CardContainer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}




















@media screen and (max-width:576px) {
  .nav-Container, .nav-Container ul, .banar-Container, .sponsorsContainer  {
    flex-direction: column;
  }
  .nav-Container{
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
  }
  .nav-Container h3{
  padding: 14px;
  text-align: center;
  }
  .banar-Container h1{
    margin-left: 0px;
  }
  header, main{
    width: 100%;

  }
}
